.btn {
    margin: 20px;
    padding: 20px 29px;
    box-sizing: border-box;
    color: whitesmoke;
    background-color: black;
    border-radius: 15px; 
    cursor: pointer;
    }

.heading
{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    
}
.danger{
    background-color: red;
}